.omerCard{
    background-color: brown;
    width: 300px;

    border: 15px solid black;
    margin: 25px;
    padding: 25px;
    text-align: center;

}

.omerCardFlex{
    background-color: brown;
    width: 300px;

    border: 15px solid black;
    margin: 25px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.kazim-container{
    width: 300px;
    height: 300px;
    display: flex;
    border: 10px solid #000;
    flex-direction: column;
}

.row {
    display: flex;
    width: 100%;
    height: 100px;
}

.w-1{
    width: 1%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-2{
    width: 2%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-3{
    width: 3%;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-4{
    width: 4%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-90{
    width: 90%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-10{
    width: 10%;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-20{
    width: 20%;
    background-color: hotpink;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-70{
    width: 70%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-40{
    width: 40%;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-60{
    width: 60%;
    background-color: lightsalmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.abdullah{
    width: 300px;
    height: 300px;
    display: flex;
    border: 10px solid #000;
    flex-direction: column;
}

.adk {
    display: flex;
    width: 100%;
    height: 100px;
    
}
.adkColumn {
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: column;
    
}
.y-20{
    width: 100%;
    height:20%;
    background-color: rgb(135, 12, 250);
    display: flex;
    justify-content: center;
    align-items: center;
}
.y-30{
    width: 100%;
    height:30%;
    background-color: rgb(35, 254, 7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.y-50{
    width: 100%;
    height:50%;
    background-color: rgb(92, 2, 77);
    display: flex;
    justify-content: center;
    align-items: center;
}
.x-40{
    width: 40%;
    background-color: rgb(220, 197, 197);
    display: flex;
    justify-content: center;
    align-items: center;
}
.x-50{
    width: 50%;
    background-color: rgb(220,20,30);
    display: flex;
    justify-content: center;
    align-items: center;
}
.x-10{
    width: 10%;
    background-color: rgb(151, 233, 20);
    display: flex;
    justify-content: center;
    align-items: center;
}
.x-80{
    width: 80%;
    background-color: rgb(159, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
}
.x-5{
    width: 5%;
    background-color: rgba(36, 78, 32, 0.957);
    display: flex;
    justify-content: center;
    align-items: center;
}
.x-15{
    width: 15%;
    background-color: rgb(220, 197, 197);
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-container{
    width: 500px;
    height: 500px;
    display: flex;
    border: 10px solid #000;
    flex-direction: column;
}

.row2 {
    display: flex;
    width: 100%;
    height: 100px;
}

.cell {
    width: 20%;
    height: 100%;
}

.bg-black {
    background-color: black;
}






/*
#id{

}

input{

}
*/