.omerCard{
    background-color: brown;
    width: 300px;

    border: 15px solid black;
    margin: 25px;
    padding: 25px;
    text-align: center;

}

.omerCardFlex{
    background-color: brown;
    width: 300px;

    border: 15px solid black;
    margin: 25px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.kazim-container{
    width: 300px;
    height: 300px;
    display: flex;
    border: 10px solid #000;
    flex-direction: column;
}

.row {
    display: flex;
    width: 100%;
    height: 100px;
}

.w-1{
    width: 1%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-2{
    width: 2%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-3{
    width: 3%;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-4{
    width: 4%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-90{
    width: 90%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-10{
    width: 10%;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-20{
    width: 20%;
    background-color: hotpink;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-70{
    width: 70%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-40{
    width: 40%;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-60{
    width: 60%;
    background-color: lightsalmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.abdullah{
    width: 300px;
    height: 300px;
    display: flex;
    border: 10px solid #000;
    flex-direction: column;
}

.adk {
    display: flex;
    width: 100%;
    height: 100px;

}
.adkColumn {
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: column;

}
.y-20{
    height:20%;
    background-color: rgb(135, 12, 250);
    display: flex;
    justify-content: center;
    align-items: center;
}
.y-30{
    height:30%;
    background-color: rgb(35, 254, 7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.y-50{
    height:50%;
    background-color: rgb(92, 2, 77);
    display: flex;
    justify-content: center;
    align-items: center;
}
.x-40{
    width: 40%;
    background-color: rgb(220, 197, 197);
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes bounce {
    0%,100%{transform:translateY(0);}
    90%{transform: translateY(-50px);}
}


@keyframes printSquare {
    0%,100%{transform: translateX(0) translateY(0);}
    25%{transform: translateX(90px);}
    50%{transform: translateX(90px) translateY(90px);}
    75%{transform: translateY(90px) translateX(0px);}

}
@keyframes hexagon {
    0%,100%{transform: translateX(0) translateY(0px);}
    15%{transform: translateX(100px);}
    30%{transform: translateX(150px) translateY(50px);}
    45%{transform: translateX(100px) translateY(100px);}
    60%{transform: translateX(0px) translateY(100px);}
    75%{transform: translateX(-50px) translateY(50px);}
}
@keyframes e {
    0%,100%{transform: translateX(0) translateY(0px);}
    8%{transform: translateX(100px) translateY(0px);}
    16%{transform: translateX(100px) translateY(25px);}
    24%{transform: translateX(25px) translateY(25px);}
    32%{transform: translateX(25px) translateY(50px);}
    40%{transform: translateX(100px) translateY(50px);}
    48%{transform: translateX(100px) translateY(75px);}
    56%{transform: translateX(25px) translateY(75px);}
    64%{transform: translateX(25px) translateY(100px);}
    72%{transform: translateX(100px) translateY(100px);}
    80%{transform: translateX(100px) translateY(125px);}
    88%{transform: translateX(0px) translateY(125px);}

}
@keyframes home{
    0%,100%{transform: translate(0px)  translateY(0px);}
    7%{transform: translateX(30px) translateY(0px);}
    14%{transform: translateX(30px) translateY(-10px);}
    21%{transform: translateX(40px) translateY(-10px);}
    28%{transform: translateX(40px) translateY(0px);}
    35%{transform: translateX(100px) translateY(0px);}
    42%{transform: translateX(120px) translateY(20px);}
    49%{transform: translateX(120px) translateY(120px);}
    56%{transform: translateX(60px) translateY(120px);}
    63%{transform: translateX(60px) translateY(100px);}
    70%{transform: translateX(50px) translateY(100px);}
    77%{transform: translateX(50px) translateY(120px);}
    84%{transform: translateX(-20px) translateY(120px);}
    91%{transform: translateX(-20px) translateY(20px);}
}
@keyframes k {
    0%,100%{transform: translate(0px)  translateY(0px);}
    10%{transform: translateX(20px) translateY(0px);}
    20%{transform: translateX(20px) translateY(40px);}
    30%{transform: translateX(40px) translateY(0px);}
    40%{transform: translateX(60px) translateY(0px);}
    50%{transform: translateX(20px) translateY(60px);}
    60%{transform: translateX(120px) translateY(120px);}
    70%{transform: translateX(100px) translateY(120px);}
    80%{transform: translateX(40px) translateY(60px);}
    90%{transform: translateX(40px) translateY(120px);}
    95%{transform: translateX(00px) translateY(120px);}
}
.y-20:hover{
    animation: k 10s ease-in-out infinite;
}
.x-80:hover{
    animation: home 10s infinite;
}
.x-40:hover{
    background-color: white;
    font-size: 100px;

    transform: rotate(360deg) ;/*translateX(50px) translateY(50px)*/
    transition: transform 2s,font-size 2s, background-color 2s;

}
.x-50{
    width: 50%;
    background-color: rgb(220,20,30);
    display: flex;
    justify-content: center;
    align-items: center;
}

.x-50:hover{
    animation: bounce 1s infinite;
}
.x-10{
    width: 10%;
    background-color: rgb(151, 233, 20);
    display: flex;
    justify-content: center;
    align-items: center;
}

.x-10:hover{
    animation: printSquare 3s 5;
}
.x-15:hover{
    animation: hexagon 6s infinite;
}
.x-80{
    width: 80%;
    background-color: rgb(159, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
}
.x-5{
    width: 5%;
    background-color: rgba(36, 78, 32, 0.957);
    display: flex;
    justify-content: center;
    align-items: center;
}

.x-5:hover{
    animation: e 10s linear infinite;
}
.x-15{
    width: 15%;
    background-color: rgb(220, 197, 197);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    width: 500px;
    height: 500px;
    display: flex;
    border: 10px solid #000;
    flex-direction: column;
}

.row2 {
    display: flex;
    width: 100%;
    height: 100px;
}

.cell {
    width: 20%;
    height: 100%;
    background-color: red;
}

.bg-black {
    background-color: black;
}


@media (max-width:500px) and (min-width:300px){

  .y-50{
    background-color: white;
  }
  .y-50:hover{
    color: blue;
  }

}


/*Abdullah*/
/*
@media (max-width: 600px) and (min-width:200px) {
  .cell {     background-color: black;   }
  .bg-black {     background-color: red;   }
}


@keyframes triangle {
  0%,
  100% {
    transform: translateX(0) translateY(0px);
  }
  30% {
    transform: translateX(50px) translateY(50px);
  }
  60% {
    transform: translateX(-50px) translateY(50px);
  }
}

@media (max-width: 477px) and (min-width:300px) {
  .x-50 {
    background-color: green;
  }
  .x-50:hover {
    animation: triangle 5s linear infinite;
  }
}


@media (max-width: 9168px) and (min-width:257px) {
  .w-60 {
    background-color: blue;
  }
  .w-60:hover {
    transform: translate(100px, 100px) rotate(45deg);
    transition: transform 3s;
  }
}
*/
/*Muhammed*/
/*
@media (max-width:600px) and (min-width:200px) {
    .cell {
        background-color:  black;
    }
    .bg-black {
        background-color: red;
    }
}


@keyframes triangle {
    0%,100%{transform: translateX(0px)  translateY(0px);}
    30% {transform: translateX(45px) translateY(-90px);}
    60% {transform: translateX(90px) translateY(0px);}
}

@media (max-width:477px) and (min-width:300px) {
    .x-50 {
        background-color: green;
    }
    .x-50:hover {
      animation: triangle 1s infinite;
    }
}



@keyframes right-bottom {
    0%,100%{transform: translateX(0px)  translateY(0px);}
    25% {transform: translateX(300px) translateY(150px) rotate(90deg);}

    50% {transform: translateX(600px) translateY(300px) rotate(180deg);}

    75% {transform: translateX(968px) translateY(450px) rotate(270deg);}

}

@media (max-width:968px) and (min-width:257px) {
    .w-60 {
        background-color: blue;
    }
    .w-60:hover {
        animation: right-bottom 5s infinite;
    }
}

*/

/*Kazim*/

@media screen and (min-width:200px) and (max-width:600px) {
    .cell {
        background-color: black;
    }

    .bg-black {
        background-color: red;
    }
}

@keyframes triangle {
  0%,
  100% {
    transform: translate(0px) translateY(0px);
  }
  33% {
    transform: translateX(50px) translateY(50px);
  }
  66% {
    transform: translateX(100px) translateY(0px);
  }
}

@media  screen and (300px <= width <= 477px){
    .x-50{
        background-color: green;
    }
    .x-50:hover{
        animation: triangle 5s ease-in-out infinite;
    }
}

@media screen and (257px <= width <= 968px) {
    .w-60{
        background-color: blue;
    }
    .w-60:hover{
        transform: translateX(250px) translateY(250px) rotate(360deg) ;
        transition: transform 6s ease-in-out;
    }
}

/*
siyah kirmizi E harfinde
200-600 arasinda siyah ve kirmizi renkler yer degistirsin.
*/


/*
#id{

}

input{

}
*/


/*
x-50 classi 300 ve 477 pixelleri arasindaysa arka plani yesil renk olsun
hover animasyonu triangle cizsin.
*/



/*

257 - 968 arasnda w-60 olanclassin bc blue olsun, ustune tiklandiginda sag alda donerek insin.
*/



.gridContainer{
  display: grid;
  grid-template-columns: 1fr 2fr 5fr 3fr 4fr;
  grid-template-rows:  1fr 2fr 5fr 3fr;

  grid-gap: 20px;
}

.grid-item {
  background-color: #e9e9e9;
  padding: 20px;
  text-align: center;
}



.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d{
    grid-area: d;
}

.grid-container2 {
    display: grid;
    grid-template-areas:
      "a a a"
      "b c c"
      "b c c"
      "b d d"
      "b d d";
    grid-gap: 20px;
}
